.vs
.idea
_ReSharper.Caches
Debug
Release
x64
Build
ScriptBindingParser/x64
ScriptBindingParser/Debug
ScriptBindingParser/Release
ScriptBindingParser.VC.db
ScriptBindingParser.VC.VC.opendb
Dependencies
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
